*,::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0 100px;
    background-color: #ffeae0;
}

.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    margin-right: 10px;
}

.nav .logo h1{
    font-weight: 600;
    font-family: sans-serif;
    color: #000;
    margin-left: -60px;
}

.nav .logo b{
    color: #ff511c;
    font-weight: 600;
    font-family: sans-serif;
    margin-right: 55px;
}
.nav ul{
    display: flex;
    list-style: none;
    
}
.nav ul li{
    margin-right: 50px;
    margin-left: 10px;
}
.nav ul li a{
  text-decoration: none;
  color: #000;
  font-weight: 4500;
  font-family: sans-serif;
  font-size: 15px;
  
}
.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color:#ff511c;
    display: flex;
    position: relative;
    margin-left: 10px;
}

input{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}

.Login{
    background-color: orange;
    padding: 9px 19px;
   margin: 9px 10px;
   border-radius: 3px;
   cursor: pointer;
   
   
}

